In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
new = ratings.groupby('userId').agg({'rating' : ['count'], 'timestamp' : ['max', 'min']})

In [4]:
new_r = new[new['rating']['count']>100]

new_r.head()

       rating   timestamp
        count         max         min
userId
4         204   949982274   949778714
8         116  1154474527  1154389340
15       1700  1469330735   997937239
17        363  1127476640  1127468587
19        423   855195373   855190091

In [19]:
def avg_life(df):
    return df['timestamp']['max'] - df['timestamp']['min']

In [27]:
new_r['answer'] = new_r.apply(avg_life, axis = 1)

<ipython-input-27-05095b34ce3b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_r['answer'] = new_r.apply(avg_life, axis = 1)

In [37]:
new_r['answer'].astype('timedelta64[m]').mean()

Timedelta('8800 days 09:14:22.111164')

In [38]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

In [39]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [40]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [41]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [56]:
revenue = rzd.merge(auto, how='outer').merge(air, how='outer')
address = revenue.merge(client_base, on = 'client_id', how = 'left')

address

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4