Как найти уникальные значения, повторяющиеся значения в списках.

In [ ]:
my_list = ['John', 'William', 'Mary', 'James', 'John', 'Mary']

In [ ]:
# получим список только с уникальными элементами из my_list
res = []

for name in my_list:
    print(name)
    if name not in res:
        print(res)
        res.append(name)
        print(res)
        
# res

In [ ]:
# получим список только с повторяющимся элементами из my_list
res_2 = []

for name in my_list:
    print(my_list.count(name))

In [ ]:
my_list = ['John', 'William','John', 'James', 'Mary', 'John', 'Mary']
counter = {}
for name in my_list:
    counter[name] = counter.get(name, 0) + 1
    doubles = {name: count for name, count in counter.items() if count > 1}
print(doubles)

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Jack', 'Jack', 'John']
res = []
for boy in boys:
    if boys.count(boy) > 1 and boy not in res:
        res.append(boy)
print(res)

In [ ]:
name = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Alex']
res = []
for el in name:
    if name.count(el) > 1 and el not in res:
        res.append(el)
print(res)

In [ ]:
elif (date>=20 and date<=30 and month==4) or (month==5 and date>=1 and date<=20):
    print("Знак зодиака:Телец")

In [ ]:
my_list = ['John' , 'Mary' , 'William', 'Mary','John']
res2 = []
for name in my_list:
    if my_list.count(name) > 1 and name not in res2:
        res2.append(name)
print(res2)


Дана переменная, в которой хранится шестизначное число (номер проездного билета). Напишите программу, которая будет определять, является ли данный билет "счастливым". Билет считается счастливым, если сумма первых трех цифр совпадает с суммой последних трех цифр номера.

Примеры работы программы:

number = 123456
Результат:
Несчастливый билет

number = 123321
Результат:
Счастливый билет

In [ ]:
number = 247456

In [ ]:
num_1 = number // 100000
num_1

In [ ]:
num_2 = number % 100000 // 10000
num_2

In [ ]:
# через срезы

In [ ]:
number = 247456

num_str = str(number)
num_str[1]

In [ ]:
# примитивный пользовательский ввод команд в программе

while True:
    user_input = input('Введите команду')
    if user_input == 'do':
        continue
    elif user_input =='dosmthelse':
        pass
    elif user_input == 'quit':
        print('Выход')
        break

In [ ]:
my_list = ['John' , 'Mary' , 'William', 'Mary','John']

In [ ]:
# методы списков всегда меняеют исходный список
# print(my_list.sort())
# print(my_list)

In [ ]:
# функция возвращает новый отсортированный список
print(sorted(my_list))

In [ ]:
# print(my_list)
new_list = sorted(my_list)
new_list

# Практика. Посчитаем сумму элементов по главной диагонали в матрице

In [ ]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [ ]:
sum_ = 0
for index, row in enumerate(data):
    sum_ += row[index] 
print(sum_)

In [ ]:
sum_ = 0        
for i in range(len(data)):     
    sum_ += data[i][i]
sum_

In [ ]:
index = 0
sum_ = 0
for row in data:
    print(row)
    sum_ = sum_ + row[index]
    index = index + 1
    
sum_

In [ ]:
data = [ [13, 25, 23, 34],
         [45, 32, 44, 47],
         [12, 33, 23, 95],
         [13, 53, 34, 35]
       ]
x = 0
s = 0
for number in data:
    s += number[x]
    x += 1
print(s)

In [ ]:
# посчитаем обратную диагональ
index = -1
sum_ = 0
for row in data:
#     print(row)
    sum_ += row[index]
    index -= 1
    
sum_

In [ ]:
i = 0 
s = 0 
for n in data: 
    s += n[len(n)-1 - i] 
    i += 1
s

# Практика. Найдем в тексте слова длинее n букв

In [ ]:
text = 'Python — высокоуровневый язык программирования, ориентированный на повышение производительности разработчика и читаемости кода.'

In [ ]:
for word in text.split():
    if len(word) > 15:
        print(word)

# Практика. Вывести фамилиии построчно с указанием профессии

In [ ]:
professions = ['IT', 'Физика', 'Математика']
persons = [['Гейтс', 'Джобс', 'Возняк'], ['Эйнштейн', 'Фейнман'], ['Эвклид', 'Ньютон']]

IT:
Гейтс
Джобс
Возняк

Физика:
Эйнштейн
Фейнман

In [ ]:
for pro, names in zip(professions, persons):
    print(f'{pro}:')
    for name in names:
        print(name)
    print()

In [ ]:
for pro, names in zip(professions, persons):
    print(f'{pro}:')
    print('\n'.join(names), '\n')

In [ ]:
for prof in professions:
    print(prof)
    for name in persons:
        print(name)

In [ ]:
index = 0
for profession in professions:
    print(profession,':')
    print(persons[index])
    index += 1

In [ ]:
for prof in professions: 
    i = 0
    print(prof) 
    for sur in persons[i]: 
        print(sur)
        i += 1
    print()

# Практика. Нарисовать представленный шаблон

1                                                                                                             
22                                                                                                            
333                                                                                                           
4444                                                                                                          
55555                                                                                                         
666666                                                                                                        
7777777                                                                                                       
88888888                                                                                                      
999999999

In [ ]:
num = 0
while num < 10:
    print(str(num) * num)
    num += 1

In [ ]:
for i in range(10):
    print(str(i) * i)

In [ ]:
for i in range(5, 10, 2):
    for j in range(i):
        print(i, end='')
    print()

In [ ]:
# "разглаживаем список"
my_list = [['Екатеринбург', 'Москва'], ['Санкт-Петербург', 'Норильск'], ['Пермь', 'Астрахань']]
# res = [..., ..., ... , ... , ..., ...]

In [ ]:
sum(my_list, [])

In [ ]:
sum([], my_list)

In [ ]:
sum(my_list, [])

In [2]:
# А можно тогда еще пример, как вывести список со значением и суммой, например?

sales = [
    ['блокнот', [5, 7, 16, 19]],
    ['ручка', [7, 9, 11, 13]],
    ['папка', [12, 15, 7, 2]]
]
sum_ = 0
for sale in sales:
    print(f'{sale[0]} - {sum(sale[1])}')

блокнот - 47
ручка - 40
папка - 36

In [ ]:
list = []
str = ''
tuple = ()